@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@500;600;700&display=swap');

:root {
    --skin-color: #2E4053;
}

/* Global */

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body {
    overflow-x: hidden;
}

/* Navbar */

.navbar {
    padding: 10px 30px;
}

/* Background Navbar */

.bg-navy {
    background: var(--skin-color);
}

/* Nav Item */
.nav-item {
    padding-left: 40px;
}

/* Nav Active */

.active {
    font-weight: 700;
}

.banner {
    position: relative;
}

/* Jumbotron Banner */

.jumbotron {
    padding: 10px 37px;
    color: #ffffff;
    background: var(--skin-color);
    min-height: 95vh;
    margin: auto;
}

/* Description */

.description {
    margin: auto;
}

/* Image Row */

.image-row {
    margin: auto;
}

/* Img Banner */

.img-banner {
    width: 100%;
    margin-left: 20px;
}

/* Text Display-4 */

.display-4 {
    font-size: 3em;
    font-weight: 700;
}

/* Text Lead */

.lead {
    font-size: 1.5em;
    font-weight: 500;
}

/* Text Desc */

.desc {
    font-size: 1.5em;
}

/* Button More */

.btn-more {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    font-weight: 600;
    border: 2px solid;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-more:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
}

.btn-more:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.btn-more:hover {
    color: var(--skin-color);
    font-weight: 600;
}

.btn-more:hover:before {
    width: 100%;
}

/* Button Rounded */

.btn-round {
    border-radius: 30px;
    border: 2px solid #fff;
    font-size: 1.5em;
    margin-left: 10px;
}

/* Custom Waves */

.custom-shape-divider-bottom-1637166932 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637166932 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1637166932 .shape-fill {
    fill: #FFFFFF;
}

/* Particle Effect */

.particle {
    position: absolute;
    border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
    100% {
        transform: translate3d(75vw, 29vh, 21px);
    }
}

@keyframes particle-animation-1 {
    100% {
        transform: translate3d(75vw, 29vh, 21px);
    }
}

.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: 0.98;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    transform: translate3d(9vw, 80vh, 61px);
    background: #fff;
}

@-webkit-keyframes particle-animation-2 {
    100% {
        transform: translate3d(44vw, 77vh, 6px);
    }
}

@keyframes particle-animation-2 {
    100% {
        transform: translate3d(44vw, 77vh, 6px);
    }
}

.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: 0.04;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    transform: translate3d(85vw, 65vh, 66px);
    background: #fff;
}

@-webkit-keyframes particle-animation-3 {
    100% {
        transform: translate3d(52vw, 22vh, 89px);
    }
}

@keyframes particle-animation-3 {
    100% {
        transform: translate3d(52vw, 22vh, 89px);
    }
}

.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: 0.46;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    transform: translate3d(86vw, 72vh, 13px);
    background: #fff;
}

@-webkit-keyframes particle-animation-4 {
    100% {
        transform: translate3d(21vw, 63vh, 31px);
    }
}

@keyframes particle-animation-4 {
    100% {
        transform: translate3d(21vw, 63vh, 31px);
    }
}

.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: 0.93;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    transform: translate3d(83vw, 83vh, 89px);
    background: #fff;
}

@-webkit-keyframes particle-animation-5 {
    100% {
        transform: translate3d(5vw, 49vh, 75px);
    }
}

@keyframes particle-animation-5 {
    100% {
        transform: translate3d(5vw, 49vh, 75px);
    }
}

.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: 0.11;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: translate3d(42vw, 22vh, 61px);
    background: #fff;
}

@-webkit-keyframes particle-animation-6 {
    100% {
        transform: translate3d(10vw, 44vh, 56px);
    }
}

@keyframes particle-animation-6 {
    100% {
        transform: translate3d(10vw, 44vh, 56px);
    }
}

.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: 0.13;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    transform: translate3d(56vw, 59vh, 68px);
    background: #fff;
}

@-webkit-keyframes particle-animation-7 {
    100% {
        transform: translate3d(86vw, 21vh, 90px);
    }
}

@keyframes particle-animation-7 {
    100% {
        transform: translate3d(86vw, 21vh, 90px);
    }
}

.particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
    animation: particle-animation-7 60s infinite;
    opacity: 0.44;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    transform: translate3d(30vw, 42vh, 20px);
    background: #fff;
}

@-webkit-keyframes particle-animation-8 {
    100% {
        transform: translate3d(10vw, 84vh, 36px);
    }
}

@keyframes particle-animation-8 {
    100% {
        transform: translate3d(10vw, 84vh, 36px);
    }
}

.particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
    animation: particle-animation-8 60s infinite;
    opacity: 0.17;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    transform: translate3d(53vw, 41vh, 9px);
    background: #fff;
}

@-webkit-keyframes particle-animation-9 {
    100% {
        transform: translate3d(42vw, 84vh, 74px);
    }
}

@keyframes particle-animation-9 {
    100% {
        transform: translate3d(42vw, 84vh, 74px);
    }
}

.particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
    animation: particle-animation-9 60s infinite;
    opacity: 0.08;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    transform: translate3d(86vw, 13vh, 99px);
    background: #fff;
}

@-webkit-keyframes particle-animation-10 {
    100% {
        transform: translate3d(47vw, 41vh, 35px);
    }
}

@keyframes particle-animation-10 {
    100% {
        transform: translate3d(47vw, 41vh, 35px);
    }
}

.particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
    animation: particle-animation-10 60s infinite;
    opacity: 0.93;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: translate3d(34vw, 24vh, 51px);
    background: #fff;
}

@-webkit-keyframes particle-animation-11 {
    100% {
        transform: translate3d(68vw, 9vh, 15px);
    }
}

@keyframes particle-animation-11 {
    100% {
        transform: translate3d(68vw, 9vh, 15px);
    }
}

.particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
    animation: particle-animation-11 60s infinite;
    opacity: 0.11;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    transform: translate3d(14vw, 30vh, 24px);
    background: #fff;
}

@-webkit-keyframes particle-animation-12 {
    100% {
        transform: translate3d(1vw, 9vh, 74px);
    }
}

@keyframes particle-animation-12 {
    100% {
        transform: translate3d(1vw, 9vh, 74px);
    }
}

.particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
    animation: particle-animation-12 60s infinite;
    opacity: 0.29;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    transform: translate3d(88vw, 32vh, 12px);
    background: #fff;
}

@-webkit-keyframes particle-animation-13 {
    100% {
        transform: translate3d(2vw, 15vh, 36px);
    }
}

@keyframes particle-animation-13 {
    100% {
        transform: translate3d(2vw, 15vh, 36px);
    }
}

.particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
    animation: particle-animation-13 60s infinite;
    opacity: 0.57;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    transform: translate3d(72vw, 2vh, 6px);
    background: #fff;
}

@-webkit-keyframes particle-animation-14 {
    100% {
        transform: translate3d(43vw, 32vh, 13px);
    }
}

@keyframes particle-animation-14 {
    100% {
        transform: translate3d(43vw, 32vh, 13px);
    }
}

.particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
    animation: particle-animation-14 60s infinite;
    opacity: 0.39;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    transform: translate3d(7vw, 57vh, 89px);
    background: #fff;
}

@-webkit-keyframes particle-animation-15 {
    100% {
        transform: translate3d(45vw, 33vh, 4px);
    }
}

@keyframes particle-animation-15 {
    100% {
        transform: translate3d(45vw, 33vh, 4px);
    }
}

.particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
    animation: particle-animation-15 60s infinite;
    opacity: 0.2;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: translate3d(48vw, 25vh, 44px);
    background: #fff;
}

@-webkit-keyframes particle-animation-16 {
    100% {
        transform: translate3d(90vw, 6vh, 41px);
    }
}

@keyframes particle-animation-16 {
    100% {
        transform: translate3d(90vw, 6vh, 41px);
    }
}

.particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
    animation: particle-animation-16 60s infinite;
    opacity: 0.81;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    transform: translate3d(53vw, 55vh, 27px);
    background: #fff;
}

@-webkit-keyframes particle-animation-17 {
    100% {
        transform: translate3d(15vw, 68vh, 41px);
    }
}

@keyframes particle-animation-17 {
    100% {
        transform: translate3d(15vw, 68vh, 41px);
    }
}

.particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
    animation: particle-animation-17 60s infinite;
    opacity: 0.43;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    transform: translate3d(83vw, 54vh, 93px);
    background: #fff;
}

@-webkit-keyframes particle-animation-18 {
    100% {
        transform: translate3d(82vw, 4vh, 69px);
    }
}

@keyframes particle-animation-18 {
    100% {
        transform: translate3d(82vw, 4vh, 69px);
    }
}

.particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
    animation: particle-animation-18 60s infinite;
    opacity: 0.81;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    transform: translate3d(28vw, 87vh, 56px);
    background: #fff;
}

@-webkit-keyframes particle-animation-19 {
    100% {
        transform: translate3d(18vw, 34vh, 98px);
    }
}

@keyframes particle-animation-19 {
    100% {
        transform: translate3d(18vw, 34vh, 98px);
    }
}

.particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
    animation: particle-animation-19 60s infinite;
    opacity: 0.61;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    transform: translate3d(51vw, 48vh, 11px);
    background: #fff;
}

@-webkit-keyframes particle-animation-20 {
    100% {
        transform: translate3d(36vw, 67vh, 41px);
    }
}

@keyframes particle-animation-20 {
    100% {
        transform: translate3d(36vw, 67vh, 41px);
    }
}

.particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
    animation: particle-animation-20 60s infinite;
    opacity: 0.95;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: translate3d(42vw, 42vh, 25px);
    background: #fff;
}

@-webkit-keyframes particle-animation-21 {
    100% {
        transform: translate3d(52vw, 9vh, 21px);
    }
}

@keyframes particle-animation-21 {
    100% {
        transform: translate3d(52vw, 9vh, 21px);
    }
}

.particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
    animation: particle-animation-21 60s infinite;
    opacity: 0.14;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    transform: translate3d(36vw, 42vh, 56px);
    background: #fff;
}

@-webkit-keyframes particle-animation-22 {
    100% {
        transform: translate3d(40vw, 55vh, 27px);
    }
}

@keyframes particle-animation-22 {
    100% {
        transform: translate3d(40vw, 55vh, 27px);
    }
}

.particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
    animation: particle-animation-22 60s infinite;
    opacity: 0.72;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    transform: translate3d(64vw, 90vh, 29px);
    background: #fff;
}

@-webkit-keyframes particle-animation-23 {
    100% {
        transform: translate3d(73vw, 86vh, 58px);
    }
}

@keyframes particle-animation-23 {
    100% {
        transform: translate3d(73vw, 86vh, 58px);
    }
}

.particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
    animation: particle-animation-23 60s infinite;
    opacity: 0.12;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    transform: translate3d(75vw, 85vh, 63px);
    background: #fff;
}

@-webkit-keyframes particle-animation-24 {
    100% {
        transform: translate3d(26vw, 65vh, 80px);
    }
}

@keyframes particle-animation-24 {
    100% {
        transform: translate3d(26vw, 65vh, 80px);
    }
}

.particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
    animation: particle-animation-24 60s infinite;
    opacity: 0.66;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    transform: translate3d(80vw, 87vh, 16px);
    background: #fff;
}

@-webkit-keyframes particle-animation-25 {
    100% {
        transform: translate3d(47vw, 16vh, 42px);
    }
}

@keyframes particle-animation-25 {
    100% {
        transform: translate3d(47vw, 16vh, 42px);
    }
}

.particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
    animation: particle-animation-25 60s infinite;
    opacity: 0.23;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    transform: translate3d(57vw, 80vh, 95px);
    background: #fff;
}

@-webkit-keyframes particle-animation-26 {
    100% {
        transform: translate3d(47vw, 14vh, 100px);
    }
}

@keyframes particle-animation-26 {
    100% {
        transform: translate3d(47vw, 14vh, 100px);
    }
}

.particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
    animation: particle-animation-26 60s infinite;
    opacity: 0.65;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    transform: translate3d(14vw, 49vh, 47px);
    background: #fff;
}

@-webkit-keyframes particle-animation-27 {
    100% {
        transform: translate3d(33vw, 42vh, 50px);
    }
}

@keyframes particle-animation-27 {
    100% {
        transform: translate3d(33vw, 42vh, 50px);
    }
}

.particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
    animation: particle-animation-27 60s infinite;
    opacity: 0.24;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    transform: translate3d(77vw, 17vh, 49px);
    background: #fff;
}

@-webkit-keyframes particle-animation-28 {
    100% {
        transform: translate3d(13vw, 61vh, 12px);
    }
}

@keyframes particle-animation-28 {
    100% {
        transform: translate3d(13vw, 61vh, 12px);
    }
}

.particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
    animation: particle-animation-28 60s infinite;
    opacity: 0.41;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    transform: translate3d(30vw, 88vh, 55px);
    background: #fff;
}

@-webkit-keyframes particle-animation-29 {
    100% {
        transform: translate3d(5vw, 77vh, 10px);
    }
}

@keyframes particle-animation-29 {
    100% {
        transform: translate3d(5vw, 77vh, 10px);
    }
}

.particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
    animation: particle-animation-29 60s infinite;
    opacity: 0.05;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    transform: translate3d(20vw, 83vh, 40px);
    background: #fff;
}

@-webkit-keyframes particle-animation-30 {
    100% {
        transform: translate3d(89vw, 37vh, 50px);
    }
}

@keyframes particle-animation-30 {
    100% {
        transform: translate3d(89vw, 37vh, 50px);
    }
}

/* About */

.about {
    position: relative;
    height: 100%;
    padding: 10px 40px;
}

/* Section Title */

.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.section-title h2:before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgba(46, 64, 83, 0.45);
}

.section-title h2 {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

/* Image About */

.img-about {
    width: 100%;
}

/* Row Info */

.row-info {
    margin: auto;
}

/* Text Info */

.info {
    font-size: 1.2em;
    text-align: justify;
    font-weight: 400;
}

/* Button Download CV */

.btn--svg {
    position: relative;
    height: 42px;
    width: 190px;
    overflow: hidden;
    border-radius: 21px;
}

.btn--svg:hover .btn--svg__circle circle {
    transform: scale(0);
}

.btn--svg:hover .btn--svg__label {
    color: #2E4053;
}

.btn--svg:hover .btn--svg__border--left path,
.btn--svg:hover .btn--svg__border--right path {
    stroke-dasharray: 61.8204345703 61.8204345703;
    stroke-dashoffset: 0;
    -webkit-transition-delay: 0.25s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-property: stroke-dashoffset;
    -moz-transition-delay: 0.25s;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-property: stroke-dashoffset;
    -ms-transition-delay: 0.25s;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: ease-in-out;
    -ms-transition-property: stroke-dashoffset;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
}

.btn--svg__label {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
    z-index: 3;
    width: 100%;
    transition: color 0.5s ease-in-out;
}

.btn--svg__circle circle {
    -webkit-transition: transform 0.5s ease-in-out;
    -webkit-transform: scale(1.1);
    -webkit-transform-origin: 50% 50%;
    -moz-transition: transform 0.5s ease-in-out;
    -moz-transform: scale(1.1);
    -moz-transform-origin: 50% 50%;
    -ms-transition: transform 0.5s ease-in-out;
    -ms-transform: scale(1.1);
    -ms-transform-origin: 50% 50%;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.btn--svg__border--left path,
.btn--svg__border--right path {
    stroke-dasharray: 61.8204345703 61.8204345703;
    -webkit-transition-duration: 0s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-property: stroke-dashoffset;
    -webkit-transition-delay: 0.5s;
    -moz-transition-duration: 0s;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-property: stroke-dashoffset;
    -moz-transition-delay: 0.5s;
    -ms-transition-duration: 0s;
    -ms-transition-timing-function: ease-in-out;
    -ms-transition-property: stroke-dashoffset;
    -ms-transition-delay: 0.5s;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
    transition-delay: 0.5s;
}

.btn--svg__border--left path {
    stroke-dashoffset: -61.8204345703;
}

.btn--svg__border--right path {
    stroke-dashoffset: 61.8204345703;
}

.btn--svg svg,
.btn--svg__label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: translate(-50%, -50%);
    -moz-transform-origin: 50% 50%;
    -ms-transform: translate(-50%, -50%);
    -ms-transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}

/* Expertise */

.expertise {
    padding: 20px 50px;
    height: 100%;
}

/* Front End Row */

.front-end {
    margin: auto;
}

.col-md-2 {
    width: 20%;
    flex: 0 0 20%;
}

/* Img Expertise */

.img-expertise {
    width: 100%;
    filter: grayscale(100%);
}

.img-expertise:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.img-css {
    width: 90%;
    margin-top: 10px;
}

.img-js {
    width: 95%;
}

/* Back End Row */

.back-end {
    padding: 20px 150px;
}

.col-md-3 {
    width: 25%;
    flex: 0 0 25%;
}

.img-php {
    margin: auto;
}

.img-sql {
    margin: auto;
}

/* Portfolio */

.portfolio {
    padding: 20px 30px;
    height: 100%;
}

/* Nav Pills */

.nav-pills {
    padding: 1em 25em;
    margin-left: -50px;
}

/* Nav Pills Nav Item */

.nav-pills .nav-item .nav-link {
    border-radius: 50px;
    color: var(--skin-color);
    font-weight: 400;
}

/* Nav Pills Nav Item Active */

.nav-pills .nav-item .active {
    background: var(--skin-color);
    font-weight: 600;
    color: #ffffff;
    transition: all .6s ease-out;
    box-shadow: 5px 5px 5px #bebebe,
        -5px -5px 5px #ffffff;
}

.card-row {
    padding: 20px 40px;
}

.card {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035);
    margin-bottom: 20px;
}

.contact {
    position: relative;
    height: 100%;
    background: var(--skin-color);
}

.custom-shape-divider-top-1637241453 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1637241453 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1637241453 .shape-fill {
    fill: #ffffff;
}

.logo {
    color: #ffffff;
    padding-top: 80px;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.col-12 {
    text-align: center;
    margin-top: 10px;
}

.copyright {
    color: #fff;
    margin-top: 20px;
}
